* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root {
    --primary: #1992fb;
    --blue: #183ebd;
    --para: #616161;
    --black: #333333;
    --white: #ffffff;
    --rating: #ffc107;
    --yellow: #f2c94c;
    --gradientColor: linear-gradient(127deg, #8D49FE 0%, #013CB0 100.67%);
    --boxShadow: 0px 6px 60px 5px rgba(0, 0, 0, 0.08);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button:focus:not(:focus-visible) {
    outline: 0;
}


/* start topbar */

.topbar {
    background: var(--gradientColor);
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.topbar .left-content {
    display: flex;
    align-items: center;
    line-height: 40px;
}

.topbar .left-content a {
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
    display: block;
    margin-right: 20px;
}

.topbar .left-content a .discount {
    font-size: 14px;
    font-weight: 800;
}

.topbar .left-content .countdown {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topbar .left-content .days-countdown {
    background: var(--white);
    border-radius: 2px;
    line-height: 22px;
    width: 50px;
    text-align: center;
}

.topbar .left-content .days-countdown .days-amount {
    display: inline-block;
    position: relative;
    font-size: 14px;
}

.topbar .left-content .days-countdown .days-amount::after {
    content: "d";
    margin-left: 5px;
}

.topbar .left-content .hours-countdown {
    background: var(--white);
    border-radius: 2px;
    line-height: 22px;
    width: 50px;
    text-align: center;
}

.topbar .left-content .hours-countdown .hours-amount {
    display: inline-block;
    position: relative;
    font-size: 14px;
}

.topbar .left-content .hours-countdown .hours-amount::after {
    content: "d";
    margin-left: 5px;
}

.topbar .left-content .minutes-countdown {
    background: var(--white);
    border-radius: 2px;
    line-height: 22px;
    width: 50px;
    text-align: center;
}

.topbar .left-content .minutes-countdown .minutes-amount {
    display: inline-block;
    position: relative;
    font-size: 14px;
}

.topbar .left-content .minutes-countdown .minutes-amount::after {
    content: "d";
    margin-left: 5px;
}

.topbar .left-content .seconds-countdown {
    background: var(--white);
    border-radius: 2px;
    line-height: 22px;
    width: 50px;
    text-align: center;
}

.topbar .left-content .seconds-countdown .seconds-amount {
    display: inline-block;
    position: relative;
    font-size: 14px;
}

.topbar .left-content .seconds-countdown .seconds-amount::after {
    content: "d";
    margin-left: 5px;
}

.topbar .content-right .currency-list {
    position: relative;
    line-height: 40px;
    cursor: pointer;
}

.topbar .content-right .currency-list .nice-select {
    border: none !important;
}

.topbar .content-right .currency-list .nice-select::after {
    height: 7px !important;
    width: 7px !important;
    border-bottom: 2px solid var(--white);
    border-right: 2px solid var(--white);
    top: 42% !important;
}

.topbar .content-right .currency-list .nice-select span {
    font-size: 14px;
    color: var(--white);
    text-transform: capitalize;
}

.topbar .content-right .currency-list .nice-select .list li {
    font-size: 13px;
    padding: 0 20px;
    color: var(--black);
}

.topbar .content-right .language-list {
    position: relative;
    line-height: 40px;
    cursor: pointer;
}

.topbar .content-right .language-list .nice-select {
    border: none !important;
}

.topbar .content-right .language-list .nice-select::after {
    height: 7px !important;
    width: 7px !important;
    border-bottom: 2px solid var(--white);
    border-right: 2px solid var(--white);
    top: 42% !important;
}

.topbar .content-right .language-list .nice-select span {
    font-size: 14px;
    color: var(--white);
    text-transform: capitalize;
}

.topbar .content-right .language-list .nice-select .list li {
    font-size: 13px;
    padding: 0 20px;
    color: var(--black);
}

.topbar .content-right .user {
    position: relative;
    display: block;
}

.topbar .content-right .user .user-img {
    margin-right: 0;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 3px;
}

.topbar .content-right .user .user-dropdown-menu {
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 15px 86px 0 rgba(0, 0, 0, 0.18);
    position: absolute;
    top: 135%;
    right: -25px;
    width: 170px;
    height: auto;
    border: 2px solid var(--primary);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    transition: 0.8s ease-in-out;
    z-index: 99999;
}

.topbar .content-right .user:hover .user-dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.topbar .content-right .user .user-dropdown-menu ul {
    margin-left: -30px;
    margin-bottom: 0;
    padding-left: 0;
    overflow: hidden;
}

.topbar .content-right .user .user-dropdown-menu ul li {
    margin-left: 30px !important;
}

.topbar .content-right .user .user-dropdown-menu ul li a {
    color: #162b49;
    font-size: 12px;
    font-weight: 400;
    line-height: initial;
    padding: 12px 15px;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    margin: 0;
}

.topbar .content-right .user .user-dropdown-menu ul li a i {
    margin-right: 10px;
}

.topbar .content-right .user .user-dropdown-menu ul li:hover {
    color: #055bff;
    background: #e9f0ff;
}

.topbar .content-right .user .user-dropdown-menu::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #055bff;
    top: -15px;
    right: 23px;
}

/* end topbar */

/* start navbar */
.main-menu {
    width: 100%;
    height: 90px;
    background: var(--white);
    padding: 0;
    z-index: 9;
    position: fixed;
    top: 40px;
    left: 0;
    transition: all linear .3s;
}

.fixed-top-bar-active {
    background-color: #fff;
    box-shadow: var(--boxShadow);
    top: 0;
    z-index: 999999;
}

.main-menu .navbar-brand img {
    max-width: 180px;
}

.main-menu .menu-bar {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    background: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 3px;
}

.main-menu .navbar-toggler.show{
    background: red;
  }
 .main-menu .navbar-toggler.show .open-icon{
    display: none;
  }
 .main-menu .navbar-toggler.collapsed .close-icon{
    display: none;
  }
 .main-menu .menu-bar.show .close_icon {
    display: block;
  }

.main-menu .navbar-nav {
    line-height: 90px;
}

.main-menu .navbar-nav .nav-item {
    position: relative;
}

.main-menu .navbar-nav .nav-item .nav-link {
    display: block;
    padding: 0 20px !important;
    color: var(--black);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
}

.main-menu .navbar-nav .nav-item .nav-link.active {
    color: var(--blue);
}

.main-menu .navbar-nav .nav-item .nav-link:hover {
    color: var(--blue);
}

.main-menu .navbar-nav .nav-item .dropdown-menu-content {
    position: absolute;
    width: 220px;
    background: var(--white);
    line-height: initial;
    border: 1px solid #eee;
    box-shadow: var(--boxShadow);
    top: 120%;
    left: 0;
    transition: 0.5s ease-in-out;
    padding-left: 0 !important;
    visibility: hidden;
    opacity: 0;
    z-index: 1111;
}

.main-menu .navbar-nav .nav-item .dropdown-menu-content .dropdown-item a {
    display: block;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    border-bottom-color: rgb(238, 238, 238);
    text-transform: capitalize;
    padding: 15px !important;
    margin: 0 !important;
    color: var(--black);
    width: 100%;
    font-weight: 400;
}

.main-menu .navbar-nav .nav-item .dropdown-menu-content .dropdown-item.active {
    background: #eef4fa;
    border-color: var(--white);
    color: var(--black);
}

.main-menu .navbar-nav .nav-item .dropdown-menu-content .dropdown-item:hover {
    background: #eef4fa;
    border-color: var(--white);
}

.main-menu .navbar-nav .nav-item:hover .dropdown-menu-content {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.main-menu .navbar-action {
    line-height: 80px;
    margin-top: 10px;
}

.main-menu .navbar-action ul li .cart {
    display: block;
    line-height: initial;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    margin: 0 10px;
}

.main-menu .navbar-action ul li .cart span {
    position: absolute;
    top: -5px;
    left: 10px;
    background: var(--gradientColor);
    color: var(--white);
    font-size: 12px;
    width: 22px;
    height: 22px;
    line-height: 17px;
    text-align: center;
    display: block;
    border-radius: 50%;
    border: 3px solid var(--white);
}

.navbar-action ul li .btn {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 13px 20px;
    border: 1px solid var(--blue);
    border-radius: 5px;
    color: var(--black);
    width: auto;
    height: auto;
    margin-left: 30px;
}

.navbar-action ul li .btn:hover {
    background: var(--blue);
    color: var(--white);
}

/* end navbar */
/* start main */
/* start breadcrumb-section */
.breadcrumb-section {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 230px 0 110px;
}

.breadcrumb-section .breadcumb-text h1 {
    text-align: center;
    color: var(--white);
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.breadcrumb-section .breadcumb-text ul {
    padding-left: 0;
    justify-content: center;
    align-items: center;
}

.breadcrumb-section .breadcumb-text ul li a {
    color: var(--white);
    text-transform: capitalize;

}

.breadcrumb-section .breadcumb-text ul li:nth-child(1) a {
    margin-right: 25px;
    padding-right: 25px;
    position: relative;
    display: block;
}

.breadcrumb-section .breadcumb-text ul li:nth-child(1) a::after {
    position: absolute;
    content: "/";
    top: 3px;
    right: -4px;
    font-size: 14px;
}

/* end breadcrumb-section */
/* start product-content */
.product-content {
    margin: 120px 0;
}

.product-content .product-filter .product-page-search form {
    position: relative;
}

.product-content .product-filter .product-page-search input {
    padding: 20px;
    background: #eff3f8;
    color: #a6a6ac;
    width: 100%;
    outline: none;
    border: 1px solid #dedede;
    background-color: transparent;
}

.product-content .product-filter .product-page-search .btn {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 8px;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 30px;
    background: var(--gradientColor);
    color: var(--white);
}
.product-content .product-filter .product-page-search .btn:hover{
    background: linear-gradient(127deg, #013CB0 0%, #8D49FE 100.67%);
}
.product-content .product-filter .product-page-search input:focus {
    outline: none;
}

.product-content .product-filter .product-page-select {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.product-content .product-filter .product-page-select .nice-select {
    border: 1px solid #dedede !important;
    border-radius: 4px;
    height: 68px;
    line-height: 68px;
    width: 50%;
    margin-left: auto;
}

.product-content .product-filter .product-page-select .nice-select .current {
    color: var(--black);
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
}

.product-content .product-filter .product-page-select .nice-select .list {
    width: 100%;
}

.product-content .product-filter .product-page-select .nice-select .list .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    text-transform: capitalize;
    text-align: left;
    color: var(--black);
    padding: 5px 10px;
}

.product-content .product-filter .product-page-select .nice-select .list .option.selected {
    font-weight: 600;
}

/* product gallery */

.product-content .product-main-content .products-gallery .single-gallery-item {
    background: var(--white);
    box-shadow: var(--boxShadow);
    border-radius: 8px;
    padding: 8px;
    margin-top: 25px;
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-img {
    height: 290px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-img .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #162b49db;
    top: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
    z-index: 7;
    padding-left: 0;
}

.product-content .product-main-content .products-gallery .single-gallery-item:hover .gallery-img img {
    transition: all linear .3s;
    transform: scale(1.1);
}

.product-content .product-main-content .products-gallery .single-gallery-item:hover .gallery-img .overlay {
    opacity: 1;
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-img .overlay li .btn-1 {
    font-weight: 400;
    font-size: 15px;
    color: var(--black);
    background: var(--white);
    text-transform: capitalize;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
    display: block;
    padding: 9px 30px;
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-img .overlay li .btn-1:hover {
    color: var(--blue);
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-img .overlay li .btn-2 {
    font-weight: 400;
    font-size: 15px;
    color: var(--black);
    background: #ffb321;
    text-transform: capitalize;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
    display: block;
    padding: 9px 30px;
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-img .overlay li .btn-2:hover {
    color: var(--white);
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-text {
    padding: 25px 20px;
    position: relative;
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-text .price {
    position: absolute;
    top: -24px;
    right: 15px;
    text-align: center;
    background: var(--gradientColor);
    color: var(--white);
    font-size: 17px;
    font-weight: 600;
    border-radius: 3px;
    padding: 4px 12px;
    z-index: 8;
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-text a {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--black);
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-text a:hover {
    color: var(--blue);
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-text .category {
    font-size: 15px;
    color: var(--blue);
    font-weight: 500;
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-text .category span {
    color: var(--black);
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-text ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 30px;
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-text ul li p {
    font-size: 15px;
    margin-bottom: 0 !important;
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-text ul li span {
    margin-left: 8px;
}

.product-content .product-main-content .products-gallery .single-gallery-item .gallery-text ul li .sale {
    font-size: 14px;
    background-color: #eeedfe;
    color: var(--para);
    border-radius: 3px;
    display: inline-block;
    padding: 5px 10px;
}
.product-content .product-main-content .products-gallery nav ul li a{
    width: 60px;
  height: 60px;
  line-height: 60px;
  background: var(--white);
  text-align: center;
  padding: 0;
  border-radius: 3px !important;
  border: 1px solid var(--primary) !important;
  font-weight: 400;
  font-size: 16px;
  margin-right: 15px;
}
.product-content .product-main-content .products-gallery nav{
    margin-top: 50px;
}
.product-content .product-main-content .products-gallery nav ul li a.active{
    background: var(--gradientColor) !important;
    color: var(--white);
}

/* product sidebar */
.product-content .product-main-content .product-sidebar-area{
    box-shadow: var(--boxShadow);
    margin-left: 30px;
  border-radius: 8px;
  margin-top: 25px;
}
.product-content .product-main-content .product-sidebar-area .product-categories{
    padding: 25px;
  background: var(--white);
}
.product-content .product-main-content .product-sidebar-area .product-categories h3{
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
  font-weight: 700;
  font-size: 21px;
}
.product-content .product-main-content .product-sidebar-area .product-categories ul{
    padding: 0;
}
.product-content .product-main-content .product-sidebar-area .product-categories ul li a{
    font-weight: 500;
  font-size: 18px;
  color: var(--paraColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  margin-top: 15px;
}
.product-content .product-main-content .product-sidebar-area .product-sidebar-action{
    padding: 0 25px 25px;
  background: var(--white);
}
.product-content .product-main-content .product-sidebar-area .product-sidebar-action h3{
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
    font-weight: 700;
    font-size: 21px;
  }
  .product-content .product-main-content .product-sidebar-area .product-sidebar-action .slider{
    margin-top: 30px;
  }
  .product-content .product-main-content .product-sidebar-area .product-sidebar-action .range h6{
    color: #162b49;
    font-size: 17px;
    margin-top: 30px;
    text-transform: capitalize;
  }
  .product-content .product-main-content .product-sidebar-area .product-sidebar-action .range h6 span{
    margin:0 7px;
  }
  .product-content .product-main-content .product-sidebar-area .product-sidebar-action .btn{
    background: var(--gradientColor);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: var(--white);
  padding: 15px 30px;
  width: 100%;
  margin-top: 20px;
  }
  .product-content .product-main-content .product-sidebar-area .product-sidebar-action .btn:hover{
    background: linear-gradient(127deg,#013CB0 0%,#8D49FE 100.67%);
  }
  .product-content .product-main-content .sidebar-offer{
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 8px;
  }
  .product-content .product-main-content .sidebar-offer a{
    height: 100%;
    width: 100%;
    display: block;
  }
.product-content .product-main-content .sidebar-offer a img{
    width: 100%;
}
/* end product-content */
/* start subscriber-section */
.subscriber-section {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 70px 100px;
    border-radius: 5px;
    overflow: hidden;
}

.subscriber-section .subscriber-content .subscriber-text {
    width: 40%;
}

.subscriber-section .subscriber-content .subscriber-text h2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--white);
}

.subscriber-section .subscriber-content .subscriber-text p {
    color: var(--white);
}

.subscriber-section .subscriber-content .form-submit {
    width: 47%;
    position: relative;
    margin-top: 40px;
}

.subscriber-section .subscriber-content .form-submit input {
    border-radius: 50px;
    padding: 20px 30px;
    background: #eff3f8;
    color: #a6a6ac;
    width: 100%;
}

.subscriber-section .subscriber-content .form-submit .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 30px;
    background: var(--gradientColor);
    color: var(--white);
}
.subscriber-section .subscriber-content .form-submit .btn:hover{
    background: linear-gradient(127deg,#013CB0 0%,#8D49FE 100.67%);
}
.subscriber-section .subscriber-content .form-submit input:focus {
    outline: none;
}

/* end subscriber section */
/* end main */
/* start footer */
.footer {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    z-index: 8;
}

.footer .main-content {
    padding: 80px 0;
}

.footer .main-content .footer-content .footer-logo {
    max-width: 200px;
    margin-bottom: 20px;
    display: block;
}

.footer .main-content .footer-content .footer-logo img {
    width: 100% !important;
}

.footer .main-content .footer-content .description {
    font-size: 16px;
    color: var(--white);
}

.footer .main-content .footer-content ul {
    padding-left: 0;
}

.footer .main-content .footer-content h4 {
    font-weight: 700;
    font-size: 26px;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 45px;
}

.footer .main-content .footer-content ul li a {
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    text-transform: capitalize;
    margin-top: 15px;
    display: block;
}

.footer .footer-links {
    background: #000;
    padding: 40px 0;
    border-top: 1px solid #27278840;
}

.footer .footer-links ul {
    padding-left: 0;
}

.footer .footer-links ul li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--white);
    color: #070729;
    border-radius: 50%;
    margin-right: 10px;
    display: block;
}

.footer .footer-links ul li a:hover {
    background: var(--gradientColor);
    color: var(--white);
}

.footer .footer-links .footer-counter ul li:nth-child(1) {
    margin-right: 40px;
}

.footer .footer-links .footer-counter ul li p {
    color: var(--white);
    font-size: 17px;
}

.footer .footer-links .footer-counter ul li h6 {
    font-weight: 700;
    font-size: 22px;
    color: var(--white);
    margin-top: 10px;
    display: inline-block;
    position: relative;
    margin-top: 0;
}

.footer .footer-links .footer-counter ul li:nth-child(2) h6:after {
    position: absolute;
    content: "+";
    margin-left: 5px;
    top: 0;
    right: -18px;
    font-size: 21px;
}

.footer .footer-bottom {
    padding: 30px 0;
    background: #070729;
}

.footer .footer-bottom .copyright-text p {
    font-size: 18px;
    color: var(--white);
}

.footer .footer-bottom .payment-wrap .payment-img {
    max-width: 400px;
}

/* end footer */

/* start scroll top */

.meterial-btn p {
    color: var(--white);
    transform: rotate(271deg);
    position: absolute;
    bottom: 30px;
    width: 100px;
    right: -27px;
    font-size: 14px;
    text-transform: capitalize;
}

.meterial-btn span {
    font-size: 16px;
    color: #02388d;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 35px;
    height: 35px;
    display: block;
    line-height: 35px;
    background: var(--white);
    border-radius: 50%;
    text-align: center;
}

/* end scroll top */


@media screen and (max-width: 768px) {
    /* start header */
    .topbar .left-content {
        display: none;
    }

    .topbar .content-right .content-menu {
        padding-left: 0;
    }

    .main-menu {
        height: 60px;
    }

    .main-menu .navbar-brand img {
        max-width: 140px;
    }

    .main-menu .navbar-nav {
        background: var(--white);
        line-height: 60px;
        border-top: 1px solid var(--blue);
        margin-top: 6px !important;
        padding-top: 15px;
    }

    .main-menu .navbar-nav .nav-item .nav-link {
        text-align: center;
    }

    .main-menu .navbar-nav .nav-item .dropdown-menu-content {
        max-height: 245px;
        left: 50% !important;
        transform: translateX(-50%);
        overflow-y: auto;
    }

    .main-menu .navbar-action {
        background: var(--white);
        margin-top: 0;
        padding-bottom: 15px;
    }
    /* end header */
    /* start main */
    .breadcrumb-section .breadcumb-text h1{
        font-size: 25px;
    }
    .breadcrumb-section .breadcumb-text ul li a{
        font-size: 14px;
    }
    .product-content .product-filter .product-page-select .nice-select{
        width: 100%;
        margin-top: 20px;
    }
    .product-content .product-filter .product-page-search .btn{
        font-size: 16px;
    }
    .product-content .product-main-content .products-gallery .single-gallery-item .gallery-text a{
        font-size: 18px;
    }
    .product-content .product-main-content .products-gallery .single-gallery-item .gallery-text .category{
        font-size: 14px;
    }
    .product-content .product-main-content .products-gallery nav ul li:nth-child(5) a{
        margin-right: 0;
    }
    .product-content .product-main-content .products-gallery nav ul li a{
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
    .product-content .product-main-content .products-gallery nav ul{
        justify-content: center;
    }
    .product-content .product-main-content .product-sidebar-area{
        margin-left: 0;
    }
    .product-content .product-main-content .product-sidebar-area .product-categories ul li a{
        font-size: 16px;
    }
    .product-content .product-main-content .sidebar-offer{
        margin-left: 0;
    }
    .subscriber-section{
        padding: 50px 0;
    }
    .subscriber-section .subscriber-content .subscriber-text{
        width: 100%;
    }
    .subscriber-section .subscriber-content .subscriber-text h2{
        font-size: 25px;
    }
    .subscriber-section .subscriber-content .subscriber-text p{
        font-size: 15px;
    }
    .subscriber-section .subscriber-content .form-submit{
        width: 100%;
    }
    .subscriber-section .subscriber-content .form-submit input{
        font-size: 14px;
        padding: 15px 25px;
    }
    .subscriber-section .subscriber-content .form-submit .btn{
        font-size: 16px;
        padding: 8px 25px;
        right: 5px;
    }
    /* end main */
    /* start footer */
    .footer .subscriber-content {
        padding: 20px;
    }

    .footer .subscriber-content .subscriber-text {
        width: 100%;
    }

    .footer .subscriber-content .subscriber-text h2 {
        font-size: 25px;
    }

    .footer .subscriber-content .subscriber-text p {
        font-size: 15px;
    }

    .footer .subscriber-content .form-submit {
        width: 100%;
    }

    .footer .subscriber-content .form-submit input {
        padding: 13px 20px;
        font-size: 14px;
    }

    .footer .subscriber-content .form-submit .btn {
        font-size: 16px;
        padding: 9px 22px;
        top: 4px;
        right: 3px;
    }

    .footer .main-content {
        padding-top: 50px;
        padding-bottom: 0;
    }

    .footer .main-content .footer-content {
        margin-bottom: 50px;
    }

    .footer .main-content .footer-content .footer-logo {
        max-width: 170px;
    }

    .footer .main-content .footer-content h4 {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .footer .main-content .footer-content ul li a {
        font-size: 15px;
    }

    .footer .footer-links {
        padding: 20px 0;
    }

    .footer .footer-links ul {
        margin-top: 20px;
    }

    .footer .footer-bottom .copyright-text p {
        font-size: 15px;
    }

    .material-scrolltop {
        bottom: 150px;
        right: 20px;
        height: 135px;
    }

    .meterial-btn p {
        font-size: 14px;
    }
}